:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.45;
  color: #222;
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
}
